.contenedor-principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    height: 200px;
    text-align: center;
}

.contenedor-principal h1{
    font-weight: 630;
font-size: 22px
}

.contenedor-principal p {
    font-size: 16px
}

main.contenido-p {
    padding-top: 120px;   
    padding-bottom: 950px;
}

.link1{
    text-align: left;
    color: grey;
}

.link2{
    text-align: left;
    color: #00aae4;
}

.caja{
    
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.caja1 {
    grid-area: 1/1/1/3;
    
}
.caja2 {
    grid-area: 1/3/1/4;
    
}

.caja3 {
    grid-area: 2/1/3/1;
    
}

.caja4 {
    grid-area: 2/2/3/2;
    
}

.caja5 {
    grid-area: 3/1/3/4;
    
}

img{
display: block;
margin-left: auto;
margin-right: auto;
}
