

.contenido-p h1{
    font-weight: 630;
font-size: 22px;
text-align: center;
}

.contenido-p p {
    font-size: 16px
}

main.contenido-p {
    padding-top: 100px;   
    display: flex;
    justify-content: center; 
    align-items: center;
    line-height: 1.6;
}

.link1{
    text-align: left;
    color: grey;
}

.link2{
    text-align: left;
    color: #00aae4;
}


img{
display: block;
margin-left: auto;
margin-right: auto;
}
